{
    "REDIRECT_URI": "https://djm300.github.io/saxo/oauth-redirect.html",
    "SIMULATION_MODE": "True",
    "SIM_AUTH_ENDPOINT": "https://sim.logonvalidation.net/authorize",
    "SIM_TOKEN_ENDPOINT": "https://sim.logonvalidation.net/token",
    "SIM_CLIENT_ID": "YOUR_SIM_CLIENT_ID",
    "LIVE_AUTH_ENDPOINT": "https://live.logonvalidation.net/authorize",
    "LIVE_TOKEN_ENDPOINT": "https://live.logonvalidation.net/token",
    "TRADING_ENABLED": "False",
    "LIVE_CLIENT_ID": "YOUR_LIVE_CLIENT_ID"
}
